*.plist

xcuserdata/

build/
DerivedData/
Dependencies/

*.xcodeproj
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

*.ipa
*.dSYM.zip
*.dSYM

.build/

timeline.xctimeline
playground.xcworkspace